.message {
    display: grid;

    grid-template-areas:
"a t m";
    grid-template-rows: 100px;
    grid-template-columns: 60px 20px 250px;

    background-color: chartreuse;
    width: 350px;
    margin: 30px;
}

.avatar {
    grid-area: a;
    text-align: center;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-top: 40px;
}

.triangle {
    grid-area: t;
    margin-top: 70px;
    text-align: right;
    width: 0;
    height: 0;
    border-bottom: 20px solid darkgreen;
    border-left: 25px solid transparent;
}

.messageWindow {
    grid-area: m;
    background-color: darkgreen;
    margin: 10px 10px 10px 0px;
    padding: 5px 0px 0px 10px;
    border-radius: 10px 10px 10px 0px;
}

.name {
    color: fuchsia;
}

.text {
    color: white;
}

.time {
    color: lightgreen;
    text-align: right;
    margin-right: 15px;
    margin-top: -10px;
}
